<header>
  <h1>Sportsbook</h1>
</header>

<div class="wrapper" data-ng-app="sportsBook">

  <%= simple_form_for @betslip do |f| %>
    <!--  sportsbook -->
    <article class="content">
      <header>
        <h2>Sportsbook</h2>
      </header>
      <section class="element">
        <h2>Please choose from the available matches:</h2>
        <hr>
        <table>
          <thead>
            <tr>
              <th>match</th>
              <th>home</th>
              <th>draw</th>
              <th>away</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="m in matches">
              <td>{{ m.match }}</td>
              <td class="center"><button ng-click="m.odd = m.home">{{ m.home | number:2 }}</button></td>
              <td class="center"><button ng-click="m.odd = m.draw">{{ m.draw | number:2 }}</button></td>
              <td class="center"><button ng-click="m.odd = m.away">{{ m.away | number:2 }}</button></td>
            </tr>
          </tbody>
        </table>
      </section>
    </article>
 
    <!--  betslip -->
    <article class="content">
      <header>
        <h2>Your betslip</h2>
      </header>
      <section class="element" data-ng-controller="sportsBookController">
        <h2>bellow is your betslip data:</h2>
        <hr>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>selections</th>
              <th>Stake</th>
              <th>Odds</th>
              <th>Winnings</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="b in matches | filter:{odd: '!null'} | filter:id as results">
              <td class="center"><button title="Remove" ng-click="b.odd = null; b.stake = null">x</button></td>
              <td>{{ b.match }}</td>
              <td class="center">
                <form name="betslip">
                  &pound; <input type="number" name="stakeinput" placeholder="0.00" data-ng-model="b.stake" data-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required/>
                  <span class="error" ng-show="betslip.stakeinput.$error.required">Missing Stake!</span>
                  <span class="error" ng-show="betslip.stakeinput.$error.number">Currency only!</span>
                </form>
              </td>
              <td class="center">{{ b.odd | number:2 }}</td>
              <td class="center">{{ (results.length>1) ? '' : ((b.stake * b.odd) | currency : '&pound;' : fractionSize:2) }}</td>
            </tr>
          </tbody>
          <tfoot ng-show="results.length>0">
            <tr>
              <td></td>
              <td></td>
              <td class="center">{{ matches | sumOfValue:'stake' | number:2 }}</td>
              <td class="center">{{ matches | sumOfValue:'odd' | number:2 }}</td>
              <td class="center">{{ (matches | sumOfValue:'stake') * (matches | sumOfValue:'odd') | currency : '&pound;' : fractionSize:2 }}</td>
          </tfoot>
        </table>
      </section>
    </article>
  <% end %>

</div>

<footer>
  <div class="footer-left uppercase">2015 - <a href="http://joseporto.pt/">Undefined</a></div>
  <div class="footer-right">designed for <a href="#" title="somehone">someone</a></div>
</footer>
